html
        head
                title Node Authentication Playground
                link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', rel='stylesheet')
                link(href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css', rel='stylesheet')
                link(href='/css/boostrap-social.css', rel='stylesheet')
                style.
                        body {
                                padding-top:80px;
                            }
        body
                .container
                        .jumbotron.text-center
                                h1.fa.fa-lock Node Authentication Playground
                                p Login or Register with:
                                a(href="/login").btn.btn-default #[span.fa.fa-user  Local Login]
                                a(href="/signup").btn.btn-default #[span.fa.fa-user  Local Signup]
                                a(href="/auth/facebook").btn.btn-default #[span.fa.fa-facebook  Facebook]
                                a(href="/auth/twitter").btn.btn-default #[span.fa.fa-twitter  Twitter]
                                a(href="/auth/google").btn.btn-default #[span.fa.fa-google  Google]